### Data Types
- integer, float
- strings
- list (collection of elements)
- Tuples (immutable)
- Sets (store only unique elements)
- Dictionary (Keys values pairs, REST APIs, JSON )

External data types
- Numpy arrays
- Pandas (series, dataframe)

In [9]:
# integer and float
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [10]:
y = 10.5
print(y)
print(type(y))

10.5
<class 'float'>

In [12]:
is_na = True # 1
print(is_na)
print(type(is_na))

True
<class 'bool'>

In [13]:
is_na = False # 0
print(type(is_na))

<class 'bool'>

In [15]:
name = 'data science'
print(type(name))

<class 'str'>

In [17]:
len(name) # no. of characters including white space

12

In [32]:
ages = [10, 20, 20, 30, 50]
print(type(ages))
print(ages)
print(len(ages))

<class 'list'>
[10, 20, 20, 30, 50]
5

In [24]:
ages = (10, 20, 40, 50, 60)
print(type(ages))
print(ages)

<class 'tuple'>
(10, 20, 40, 50, 60)

In [30]:
ages = set([10, 10, 20, 30, 40, 40])
ages

{10, 20, 30, 40}

In [31]:
len(ages)

4

In [27]:
cities_temp = {'bang': 22, 'pune': 30, 'delhi': 25}
print(type(cities_temp))
print(cities_temp)

<class 'dict'>
{'bang': 22, 'pune': 30, 'delhi': 25}

In [28]:
len(cities_temp)

3

### Numpy arrays

In [34]:
import numpy as np

ages_array = np.array(ages)
type(ages_array)

numpy.ndarray

In [44]:
ages_array

array(['s', '1', '2', '4'], dtype='<U1')

In [35]:
ages_array.min()

10

In [36]:
ages_array.mean()

26.0

In [37]:
ages = ['s', 1, 2, 4]
ages

['s', 1, 2, 4]

In [38]:
ages_array = np.array(ages)
ages_array

array(['s', '1', '2', '4'], dtype='<U1')

## Pandas

In [42]:
import pandas as pd
# series
# data frame

In [43]:
ages = [10, 30, 50, 60]
ages_series = pd.Series(ages)
ages_series

0    10
1    30
2    50
3    60
dtype: int64

In [46]:
type(ages_series)

pandas.core.series.Series

In [ ]:
import pandas as pd

In [ ]:
# https://notepad.pw/skathirmani

In [47]:
path = 'https://github.com/skathirmani/datasets/raw/master/odi-batting.csv'
odi = pd.read_csv(path)
odi.head()

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087
1,Afghanistan,Mohammad Shahzad,110.0,99.09,9-1-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008
2,Afghanistan,Mohammad Shahzad,100.0,138.88,8-16-2010,Cambusdoon New Ground,Scotland,../Matches/MatchScorecard_ODI.asp?MatchCode=3164
3,Afghanistan,Mohammad Shahzad,82.0,75.92,7-10-2010,Hazelaarweg,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3153
4,Afghanistan,Mohammad Shahzad,57.0,100.00,7-1-2010,Sportpark Westvliet,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3135

### List operations

In [50]:
ages = [10, 30, 50, 60, 40]
len(ages)

5

In [51]:
# Access one element
ages[0]

10

In [52]:
ages[1]

30

In [53]:
ages[4]

40

In [54]:
ages[len(ages)-1]

40

In [55]:
ages[-1] # get last element by negative indexing

40

In [56]:
# Slice
ages[0:2]

[10, 30]

In [57]:
ages[:2]

[10, 30]

In [58]:
ages[2:]

[50, 60, 40]

In [59]:
for age in ages:
    print(age)
    print('---')

10
---
30
---
50
---
60
---
40
---

In [61]:
for i in range(5):
    print(i, ages[i])

0 10
1 30
2 50
3 60
4 40

In [ ]:
# enumerate

In [62]:
## Loop through tuples
ages = (10, 20, 30, 50)
for age in ages:
    print(age)

10
20
30
50

In [63]:
## Dictionary operations
cities_temp = {'bang': 22, 'pune': 30, 'delhi': 25}
cities_temp

{'bang': 22, 'pune': 30, 'delhi': 25}

In [64]:
cities_temp['bang'] # access element in a dictionary

22

In [65]:
cities_temp.keys()

dict_keys(['bang', 'pune', 'delhi'])

In [66]:
cities_temp.values()

dict_values([22, 30, 25])

In [67]:
for k, v in cities_temp.items():
    print(k, v)

bang 22
pune 30
delhi 25

In [68]:
ages

(10, 20, 30, 50)

In [69]:
# average age
ages = (10, 20, 30, 50)
ages

(10, 20, 30, 50)

In [71]:
total_sum = 0
for age in ages:
    total_sum = total_sum + age
total_sum / len(ages)

27.5

In [77]:
## Appending values to a list

ages = [10, 20, 30, 50]
ages.append(60) #in place operation
ages

[10, 20, 30, 50, 60]

In [78]:
ages.append([80, 90, 100])
ages

[10, 20, 30, 50, 60, [80, 90, 100]]

In [82]:
ages = [10, 20, 30, 50]
ages.extend([80, 90, 100]) # in place
ages[0] = 300
ages

[300, 20, 30, 50, 80, 90, 100]

In [81]:
ages = (10, 20, 30, 50)
ages[0] = 20

TypeError: 'tuple' object does not support item assignment

In [89]:
odi.head(2)

,Country,Player,Runs,ScoreRate,MatchDate,Ground,Versus,URL
0,Afghanistan,Mohammad Shahzad,118.0,97.52,2-16-2010,Sharjah CA Stadium,Canada,../Matches/MatchScorecard_ODI.asp?MatchCode=3087
1,Afghanistan,Mohammad Shahzad,110.0,99.09,9-1-2009,VRA Ground,Netherlands,../Matches/MatchScorecard_ODI.asp?MatchCode=3008

In [91]:
odi.shape

(55926, 8)

In [92]:
odi.dtypes

Country       object
Player        object
Runs         float64
ScoreRate    float64
MatchDate     object
Ground        object
Versus        object
URL           object
dtype: object

In [95]:
odi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55926 entries, 0 to 55925
Data columns (total 8 columns):
Country      55926 non-null object
Player       55926 non-null object
Runs         55900 non-null float64
ScoreRate    55900 non-null float64
MatchDate    55926 non-null object
Ground       55926 non-null object
Versus       55926 non-null object
URL          55926 non-null object
dtypes: float64(2), object(6)
memory usage: 3.4+ MB

In [98]:
odi['Runs']

0        118.0
1        110.0
2        100.0
3         82.0
4         57.0
         ...
55921      0.0
55922      0.0
55923      0.0
55924      0.0
55925      0.0
Name: Runs, Length: 55926, dtype: float64

In [101]:
odi['Runs'].min(), odi['Runs'].max()

(0.0, 200.0)

In [109]:
odi.describe(include='object')

,Country,Player,MatchDate,Ground,Versus,URL
count,55926,55926,55926,55926,55926,55926
unique,22,1936,2757,178,25,3209
top,India,Sachin R Tendulkar,2-4-2007,Sharjah CA Stadium,Australia,../Matches/MatchScorecard_ODI.asp?MatchCode=1300
freq,6634,442,108,3581,7216,22

In [106]:
odi['Player']

0           Mohammad Shahzad
1           Mohammad Shahzad
2           Mohammad Shahzad
3           Mohammad Shahzad
4           Mohammad Shahzad
                ...
55921    Waddington Mwayenga
55922     Tafadzwa Kamungozi
55923     Tafadzwa Kamungozi
55924     Tafadzwa Kamungozi
55925          Njabulo Ncube
Name: Player, Length: 55926, dtype: object

In [ ]:
# odi.shape
# odi.dtypes
# odi.info()
# odi.describe()
# odi.describe(include='object')

In [104]:
odi['Runs'].min()

0.0